.dropdown {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.dropdown-content {
    display: block;
    border: 2px solid var(--dark-accent-color);
}

.dropdown-heading {
    background-color: var(--dark-accent-color);
    color: #ffffff;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.dropdown-text {
    padding: 0 1rem;
    white-space: pre-wrap;
    color: black;
}

u {
    color: black !important;
}

.info-panel{
    margin-bottom:20px;
}