.dropdown {
    position: relative;
    /*display: inline-block;*/
    padding-bottom: 10px;
}

.dropdown-content {
    /*display: none;*/
    display: block;
}

.dropdown-heading {
    cursor: pointer;
}

/*
.dropdown:hover .dropdown-content {
    display: block;
}
*/

p {
    white-space: pre-wrap;
}