.Navbar {
    background-color: var(--dark-accent-color);
    color: #ffffff;
    width: 100%;
    height: 4rem;
    display:flex;
    align-items: center;
    padding: 1rem;
}
.nav-left{
    display:flex;
    align-items: center;
    font-weight: 600;
}
.icon{
    height: 1.5rem;
}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

li {
    margin: 0 0.5rem;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
}

a{
    text-decoration: none;
    color: #ffffff;
    &:hover{
        color: #afddfc ;
    }
}

.nav-button{
    background-color: #afddfc;
    color: var(--dark-accent-color);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.35rem 1rem;
    &:hover{
        color: #afddfc ;
        border:#afddfc solid 2px;
    }
}