.physician-view {
    overflow-x: hidden !important;
}
.grid {
    grid-template-columns: 4fr 6fr;
    gap: 50px;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.img {
    background-color: #000000;
}

.text {
    background-color: #ffffff;
    color: #000000;
    padding-top: 10px;
    padding-left: 20px;
}

.name {
    font-size: 1.3rem;
    margin-right: 20px;
    margin-left: 0;
    padding: 0.5rem 10px;
}

.edit-seg {
    float: right;
}

.patient-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    vertical-align: middle;
    margin: 15px 0;
}