@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-accent-color: #181c30; 
  --dark-main-color: #252838;
  --light-main-color: #EDFFEC;
  --light-button-color: #caf5f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

h1 {
  color: #000000;
  font-size: x-large;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

div {
  width: 100%;
}

/** Styling for forms **/
form {
  width: 80%;
}

form input {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 2px 5px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

form label {
  display: block;
}
