@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-accent-color: #181c30; 
  --dark-main-color: #252838;
  --light-main-color: #EDFFEC;
  --light-button-color: #caf5f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

h1 {
  color: #000000;
  font-size: x-large;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

div {
  width: 100%;
}

/** Styling for forms **/
form {
  width: 80%;
}

form input {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 2px 5px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

form label {
  display: block;
}

#container {
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*position: relative;*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

#container-1 {
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*position: relative;*/
  float: left;
  width: 50%;
  height: 700px;
  padding: 10px;
  overflow: hidden;
  z-index: 0;
}

#container-2 {
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*position: relative;*/
  float: left;
  width: 50%;
  height: 700px;
  padding: 10px;
  overflow: hidden;
  z-index: 0;
}

#my-gui-container {
  width: 200px;
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 1;
}

#my-gui-container-compare-1 {
  width: 200px;
  position: absolute;
  top: 125px;
  right: 175px;
  z-index: 1;
}

#my-gui-container-compare-2 {
  width: 200px;
  position: absolute;
  top: 125px;
  left: 710px;
  z-index: 1;
}

.dg li {
  padding-bottom: 20px;
}
